@import '../../assets/main.scss';

.results {
  width: 336px;
  min-height: 100px;
  background-color: $results-background;
  margin: 40px auto 38px;
  border-radius: 14px;
  padding: 28px 24px;
}

.title,
.text {
  font-family: PT Root UI;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 2px;
}

.text {
  color: $text-color;
}

.title {
  &:not(.title:first-child) {
    margin-top: 16px;
  }
  color: $text-secondary;
}

@media (max-width: $mobile_breakpoint) {

  .results {
    margin: 38px auto 32px;
  }

}
