$background-color: #06091F;
$text-color: #fff;
$text-secondary: #676C7A;
$input-background: #202334;
$main-color: #AB81F1;
$button-disable-color: #555555;
$button-pressed-color: #8852E1;
$error-color: #F6483D;
$results-background:#101328;

$mobile_breakpoint: 875px;